beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
joblib==1.5.1
networkx==3.5
numpy==2.3.2
pandas==2.3.1
playwright==1.54.0
psutil==7.0.0
pyee==13.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
rich==14.1.0
scikit-learn==1.7.1
scipy==1.16.1
soupsieve==2.7
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
